// COLORS
$color-pink: rgb(226,68,167);
$color-blue: rgb(107, 232, 246);
$color-dark0: rgb(23,21,31);
$color-dark1: rgb(35,27,46);
$color-dark2: rgb(37,35,52);
$color-light0: rgb(167,164,171);
$color-light1: rgb(109,103,115);
$color-light2: rgb(98,96,103);
$color-light3: rgb(124,131,174);
$color-light4: rgb(72, 56, 78);

// FONTS
$font-size: 16px;

//SIZES
$title-bar: 60px;